{:deps      {org.clojure/clojure              {:mvn/version "1.10.1"}
             org.clojure/data.csv             {:mvn/version "0.1.4"}
             org.clojure/tools.logging        {:mvn/version "0.5.0"}
             org.apache.lucene/lucene-core    {:mvn/version "8.2.0"}
             org.apache.lucene/lucene-monitor {:mvn/version "8.2.0"}
             metosin/jsonista                 {:mvn/version "0.2.4"}}
 :paths     ["src" "classes"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :aliases   {:dev
             {:extra-deps  {org.jsoup/jsoup                {:mvn/version "1.11.3"}
                            org.clojure/test.check         {:mvn/version "0.9.0"}
                            criterium                      {:mvn/version "0.4.5"}
                            ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}
              :extra-paths ["test/resources"]}
             :clj-kondo
             {:main-opts  ["-m" "clj-kondo.main --lint src test"]
              :extra-deps {clj-kondo {:mvn/version "2019.07.31-alpha"}}
              :jvm-opts   ["-Dclojure.main.report=stderr"]}
             :test
             {:extra-paths ["test"]
              :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                       :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}
                            org.jsoup/jsoup           {:mvn/version "1.11.3"}
                            org.clojure/test.check    {:mvn/version "0.9.0"}}}
             :runner
             {:extra-paths ["test"]
              :main-opts   ["-m" "cognitect.test-runner"]}
             :native-image
             {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}
              :main-opts     ["-m clj.native-image beagle.validator"
                              "--initialize-at-build-time"
                              "--report-unsupported-elements-at-runtime"
                              "-H:Name=dictionary-validator"]
              :jvm-opts      ["-Dclojure.compiler.direct-linking=true"]
              :extra-deps    {clj.native-image
                              {:git/url "https://github.com/taylorwood/clj.native-image.git"
                               :sha     "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}}}
